  <!-- Register Form -->
  <form action="/auth/register" method="post">
    <label>Name</label>
    <input type="text" name="Name"><br>
    <label>Email</label>
    <input type="email" name="Email"><br>
    <label>password</label>
    <input type="password" name="password"><br>
    <label>Confirm Password</label>
    <input type="password" name="Cpassword"><br>
    <input type="submit" value="Register">

   </form>
   <hr>
    <!-- LOGIN FORM -->
    <form action="/auth/login" method="post">
        <label>Email</label>
        <input type="email" name="Email"><br>
        <label>password</label>
        <input type="password" name="password"><br>  
        <input type="submit" value="LOGIN">
    
    </form>